body {
		background: #FFFFFF;                        /*цвет фона*/
		color: #00000F;                             /*цвет текста*/
    font-weight: normal;                          /*стиль шрифта*/
    font-size: 20px;                            /*размер шрифта*/
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: left top;
	}

 .lux { 
    width: 100px;                               /*размер таблицы*/
    border-collapse: collapse;
    border-spacing: 0;
    border: 6px solid #FFFFFF;                   /*цвет внешних линий(должно совпадать с фоном по заданию)*/
   }
 .lux th {
    background: #7B68EE;                         /*цвет фона первой строчки в таблице*/
    color: #E6E6FA;                                /*цвет текста в первой строчке в таблице*/
   }
 .lux td, .lux th { 
    border: 2px solid #4B0082;                   /*цвет всех линий в таблице*/
    text-align: center;
   }
 .lux td, .lux th {
    padding: 4px;
   }

 .lux tr:nth-child(odd){
   background: #87CEFA;                           /*цвет строк четный для задания зебра*/
  }
 
 .lux tr:nth-child(even){
   background: #EE82EE;                           /*цвет строк нечетный для задания зебра*/
  }
